body {
  font-family: helvetica, sans-serif;
}

h1, h2 {
  color: DarkGreen;
  }

.bahia {
  color: SeaGreen;
}

.selange {
  color: SeaGreen;
}

.hunt {
  color: SeaGreen;
}

.moat {
  color: SeaGreen;
}
